.header {
  height: 100%;
  box-shadow: $shadow-1;
}

.ad {
  height: 50px;
  width: 100%;
  background-image: url('../../public/images/ad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.top {
  background: $blue-color;
  // border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;

  &__container {
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    font: 1em sans-serif;
    display: flex;
    gap: 15px;

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: #666;
      cursor: pointer;

      .flex {
        display: flex;
        align-items: center;
        gap: 2px;

        svg {
          transform: scale(1.2);
          margin-right: 3px;
        }
      }

      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
        border-radius: 50%;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: white;
      }

      span {
        font-size: 12px;
      }

      &::after {
        content: "";
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        width: 0.1px;
        height: 20px;
        background: whitesmoke;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }

      &:hover {
        span {
          color: #222;
        }

        svg {
          fill: #666;
        }
      }

      @media (max-width: 670px) {

        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          display: none;
        }
      }




    }
  }
}

.menu {
  width: 280px;
  min-height: 200px;
  box-shadow: $shadow-1;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;

  .btn_primary {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: $blue-color;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    border-radius: 99em;
    border-width: 1px;
    border: 2px solid $blue-color;
    padding: 4px 12px 6px;
  }

  .btn_outlined {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: white;
    color: #666;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    border-radius: 99em;
    border-width: 1px;
    border: 2px solid #666;
    font-size: 17px;
    padding: 4px 12px 6px;
  }

  h4 {
    text-align: center;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .flex {
    display: flex !important;
    gap: 10px !important;
    width: 100%;
    justify-content: center;
  }

  ul {
    li {
      height: 30px;

      a {
        width: 100%;
        padding-left: 1rem !important;
      }

      &:hover {
        background: #eeeeeebe;
      }
    }
  }

  &__img {
    width: 100px !important;
    height: 100px !important;
  }

  .col {
    display: flex;
    flex-direction: column;
    // span {
    //   &:last-of-type {
    //     font-size: 14px;
    //     color: $blue-color;
    //     text-decoration: underline;
    //   }
    // }
  }
}

.main {
  position: relative;
  height: 65px;
  display: flex;
  align-items: center;
  background: $blue-color;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }

  .logo {
    img {
      width: 180px;
      height: 36px;
      margin-top: 10px;
    }
  }

  .search {
    display: flex;
    align-items: center;
    flex: 1;
    background: #fff;
    height: 40px;
    border-radius: 5px;

    input {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      background: transparent;
      padding-left: 1rem;
    }

    &__icon {
      width: 50px;
      height: 38px;
      display: grid;
      place-items: center;
      background: $blue-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #eeeeeebc;
      cursor: pointer;

      svg {
        width: 21px;
        height: 21px;
        fill: #fff;
      }
    }
  }
}

.cart {
  position: relative;

  svg {
    width: 35px;
    height: 45px;
    fill: white;
    cursor: pointer;

    &:hover {
      fill: #666;
    }
  }

  span {
    position: absolute;
    top: -5px;
    right: -15px;
    background: #666;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    color: #fff;
  }
}