.wrapper {
    margin-top: 1.5rem;
    width: 80%;
    margin-left: 10%;

    .header {
        height: 25px;
        background: $yellow-color;
        color: #fff;
        font-size: 25px;
        padding: 1rem 10px;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .product {

        &__img {
            height: 350px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__infos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 2px;

            h1 {
                font-size: 10px;
                font-weight: normal;
                color: #222;
            }

            span {
                color: $redish-color;
            }
        }
    }
}