.flashDeals {
    margin: 1.5rem 0;
    width: 80%;
    margin-left: 10%;

    &__header {
        background-color: #fff;
        padding: 1.2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $yellow-color;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 10px 10px 0px 0px;
        box-shadow: $shadow-1;

        @media (max-width: 610px) {
            font-size: 18px;
        }

        @media (max-width: 508px) {
            font-size: 15px;
        }

        @media (max-width: 464px) {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 1rem;

        @media (max-width: 600px) {
            justify-content: center;
        }
    }
}

.card {
    height: 400px;
    width: 250px;
    background-color: #fff;
    box-shadow: $shadow-1;

    &__img {
        position: relative;
        width: 100%;
        height: 320px;
        cursor: pointer;
        overflow: hidden;

        img {
            width: 80%;
            height: 100%;
            object-fit: cover;
        }

        .flash {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30px;
            height: 35px;
            background: $yellow-color;
            padding: 1rem;

            span {
                color: white;
                font-weight: 600;
                font-size: 15px;
                transform: translateY(18px);
            }

            svg {
                position: absolute;
                transform: scale(2);
                fill: white;
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 0px;

        span {
            font-weight: 700;

            &:first-of-type {
                color: $redish-color;
            }

            &:last-of-type {
                font-size: 14px;
                font-weight: normal;
                text-decoration: line-through;
                color: #666;
            }
        }
    }

    &__bar {
        width: 80%;
        height: 10px;
        border-radius: 10px;
        background: #ccc;
        margin-top: 2px;

        &_inner {
            background: $yellow-color;
            border-radius: 10px;
            height: 100%;
        }
    }

    &__percentage {
        font-size: 14px;
        color: #111;
        margin-top: 2px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}