.menu {
    background: #f6f6f6;

    // border-top: 1px solid #eee;
    border-bottom: 5px solid #eee;

    &__container {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        gap: 25px;
        max-width: 40%;
        margin: 0 auto;

        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: #666;
            cursor: pointer;

            .flex {
                display: flex;
                align-items: center;
                gap: 2px;

                svg {
                    transform: scale(1.2);
                    margin-right: 3px;
                }
            }

            img {
                width: 28px;
                height: 28px;
                object-fit: cover;
                border-radius: 50%;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: white;
            }

            span {
                border-bottom: 2.5px solid transparent;
                padding-bottom: 8px;
                font-weight: 600;
                font-size: 15px;
            }

            &::after {
                content: "";
                position: absolute;
                right: -8px;
                top: 50%;
                transform: translateY(-50%);
                width: 0.1px;
                height: 20px;
                background: whitesmoke;
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }

            &:hover {
                span {
                    border-bottom: 2.5px solid #1895f5;
                    padding-bottom: 8px;
                    color: #222;
                }

                svg {
                    fill: #666;
                }

            }

            @media (max-width: 400px) {

                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    display: none;
                }
            }




        }
    }
}