.category {
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 10px;
    // background-image: url("../../../public/images/purple-background-0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        color: $blue-color;
    }

    &__header {
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            width: 22px;
            height: 22px;
            cursor: pointer;
            fill: $blue-color;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
                fill: $yellow-color;
            }
        }
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;

        @media (max-width: 1300px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 1100px) {
            padding: 5px;
            gap: 8px;
        }

        .product {
            img {
                border-radius: 10px;
                height: 150px;
                width: 100%;
                cursor: pointer;
                transition: transform 0.2s ease;
                object-fit: cover;

                &:hover {
                    transform: scale(1.02);
                }

                @media (max-width: 1000px) {
                    height: 80px;
                }

                @media (max-width: 850px) {
                    height: 130px;
                }
            }
        }
    }
}