* {
  margin: 0;
}

body {
  font: 1em cursive;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}

// h1 {
//   background:black;
// }
button,
input,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}