.home {
  min-height: 100vh;
  background-image: url("../public/images/white-background-6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1.5rem 0;
    width: 80%;
    margin-left: 10%;

    @media (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }

  .products {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}